<body>
  <div>
    <div
      id="carouselExampleControls"
      class="carousel slide mt-3"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://img.freepik.com/free-photo/car-model-calculator-coins-white-table_1387-584.jpg?w=1060&t=st=1659491041~exp=1659491641~hmac=6bb91f3c8357f664df89232e321963da19bc528822ffc81539363f29b63b23ae"
            alt="image not found"
            style="height: 500px; width: 70%"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.8RDCnJWDBgKtfjbR-JKiCgHaD4%26pid%3DApi&f=1"
            class="rounded mx-auto d-block"
            alt="image not found"
            style="height: 500px; width: 70%"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.AYSzn6UYuIbs6IWdLoQccAHaD4%26pid%3DApi&f=1"
            class="rounded mx-auto d-block"
            alt="image not found"
            style="height: 500px; width: 70%"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div>
      <div class="container">
        <div style="margin-top: 20px; color: #11053f">
          <h1>Vehicle Loan Services</h1>
          <br />
          <h2 style="text-decoration: underline">ABOUT US</h2>
        </div>
        <div class="row" style="margin-top: 20px; color: black">
          Buying a vehicle is one of life’s biggest dreams. But it is also a
          huge investment that can take away a lot of life’s savings. But there
          is a way in which you can afford a vehicle, without dipping too much
          into your savings – by taking a vehicle loan. This way you do not have
          to compromise on the vehicle type, and pay for it in affordable
          Equated Monthly Instalments or EMIs.
        </div>
        <hr style="width: 100%; color: black" />
        <div class="row">
          Many lending companies currently offer online sourcing for vehicle
          loans. Today's driver can find a way to finance a car, truck,
          motorcycle, or other vehicle without leaving the comfort of home. But
          where should you get a loan? Drive away with competitive rates and
          flexible terms by applying a Loan on our application.
        </div>
      </div>
    </div>
  </div>
</body>
