<body>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <br />
  <div class="container row">
    <div
      class="container jumbotron alert alert-primary col-md-offset-3 col-md-6"
    >
      <h2>EMI Calculator</h2>
    </div>
  </div>
  <div class="container row">
    <div class="container col-md-offset-3 col-md-6">
      <!-- <div class="form" [formGroup]="calculatorForm" (ngSubmit)="emiCalculator" > -->
      <div class="form">
        <div class="form-group">
          <label>Car Loan Amount</label>
          <input
            type="number"
            onfocus="this.value=''"
            value="Click here to clear"
            class="form-control"
            [(ngModel)]="amount"
            required
          />
        </div>
        <div class="form-group">
          <label>Rate Of Interest</label>
          <input
            type="number"
            onfocus="this.value=''"
            value="Click here to clear"
            class="form-control"
            [(ngModel)]="rate"
            required
          />
        </div>
        <div class="form-group">
          <label>Tenure (In Months)</label>
          <input
            type="number"
            onfocus="this.value=''"
            value="Click here to clear"
            class="form-control"
            [(ngModel)]="time"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="submit"
            class="form-control btn btn-primary"
            value="Loan EMI"
            (click)="emiCalculator()"
          />
        </div>

        <div class="form-group">
          <label style="color: black"> Check Your EMI Here </label>
          <input
            type="number"
            class="form-control"
            disabled
            [(ngModel)]="emi"
          />
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="container row">
    <div
      class="container jumbotron alert alert-primary col-md-offset-3 col-md-6"
    >
      <h4>
        Total Payment (Principal + Interest) : {{ tip | currency: "INR" }}
        <br /><br />
        Total Interest :
        {{ tp | currency: "INR" }}
      </h4>
    </div>
  </div>
</body>
