<body>
  <div class="container">
    <div class="row">
      <h1 class="text" style="font-size: 25px">Login into your account</h1>
      <hr style="width: 100%" />
      <p class="text" style="color: black; font-size: 18px">
        Login using your UserID and Password
      </p>
      <p>
        <br />
        <a class="btn login" routerLink="/adminlogin">Admin Login</a> <br />
        <a class="btn login" routerLink="/userlogin">User Login</a> <br />
        <br />
      </p>

      <p class="text" style="color: black; font-size: 20px">
        Not a registered user? Sign up!
      </p>
      <p></p>
    </div>
  </div>

  <div class="bottom-container">
    <div class="row">
      <div class="col">
        <a routerLink="/add" style="color: white" class="btn">SIGN UP</a>
      </div>
    </div>
  </div>
</body>
