<h2>Loan Scheme</h2>

<h4>Current Schemes: Monsoon Madness Offer</h4>
<h5>Enter Only the Customer ID and Account Type</h5>
<div class="container">
  <form (ngSubmit)="addloan(loanscheme)" #loanForm="ngForm" ngNativeValidate>
    <table>
      <tr>
        <td>
          <label for="customerid" style="font-weight: 700"
            >Enter Customer Id</label
          >
        </td>
        <td>
          <input
            type="number"
            name="customerid"
            id="customerid"
            [(ngModel)]="loanscheme.customerid"
            required
            #customerid="ngModel"
          />
        </td>
        <td>
          <div
            *ngIf="
              customerid.invalid && (customerid.dirty || customerid.touched)
            "
            style="color: red"
          >
            <div *ngIf="customerid.errors?.['required']">
              customerid cannot be blank
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="schemename" style="font-weight: 700"
            >Current Scheme</label
          >
        </td>
        <td>
          <input
            type="text"
            name="schemename"
            id="schemename"
            [(ngModel)]="loanscheme.schemename"
            required
            #schemename="ngModel"
            [readonly]="true"
          />
        </td>
        <td>
          <div
            *ngIf="
              schemename.invalid && (schemename.dirty || schemename.touched)
            "
            style="color: red"
          ></div>
        </td>
      </tr>

      <tr>
        <td>
          <label for="emi" style="font-weight: 700"></label>
        </td>
        <td>
          <input
            type="number"
            name="emi"
            id="emi"
            [(ngModel)]="loanscheme.emi"
            required
            [hidden]="true"
            #emi="ngModel"
          />
        </td>
        <td>
          <div
            *ngIf="emi.invalid && (emi.dirty || emi.touched)"
            style="color: red"
          ></div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="processingfee" style="font-weight: 700"
            >Processing Fee on All Loans</label
          >
        </td>
        <td>
          <input
            type="number"
            name="processingfee"
            id="processingfee"
            [(ngModel)]="loanscheme.processingfee"
            required
            [readonly]="true"
            #processingfee="ngModel"
          />
        </td>
        <td>
          <div
            *ngIf="
              processingfee.invalid &&
              (processingfee.dirty || processingfee.touched)
            "
            style="color: red"
          >
            <div *ngIf="processingfee.errors?.['required']">
              processingfee cannot be blank
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="accounttype" style="font-weight: 700"
            >Enter Account Type</label
          >
        </td>
        <td>
          <input
            type="string"
            name="accounttype"
            id="accounttype"
            [(ngModel)]="loanscheme.accounttype"
            required
            #accounttype="ngModel"
          />
        </td>
        <td>
          <div
            *ngIf="
              accounttype.invalid && (accounttype.dirty || accounttype.touched)
            "
            style="color: red"
          >
            <div *ngIf="accounttype.errors?.['required']">
              Account Type cannot be blank
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="interestrate" style="font-weight: 700"></label>
        </td>
        <td>
          <input
            type="number"
            name="interestrate"
            id="interestrate"
            [(ngModel)]="loanscheme.interestrate"
            required
            [hidden]="true"
            #interestrate="ngModel"
          />
        </td>
        <td>
          <div
            *ngIf="
              interestrate.invalid &&
              (interestrate.dirty || interestrate.touched)
            "
            style="color: red"
          ></div>
        </td>
      </tr>
      <tr>
        <td>
          <label
            for="maxloanamount"
            style="font-weight: 700; padding-left: 15px"
          ></label>
        </td>
        <td>
          <input
            type="number"
            name="maxloanamount"
            id="maxloanamount"
            [(ngModel)]="loanscheme.maxloanamount"
            required
            [hidden]="true"
            #maxloanamount="ngModel"
          />
        </td>
        <td>
          <div
            *ngIf="
              maxloanamount.invalid &&
              (maxloanamount.dirty || maxloanamount.touched)
            "
            style="color: red"
          ></div>
        </td>
      </tr>

      <tr>
        <td style="margin-top: 10px; padding-top: 30px; padding-left: 90px">
          <input
            type="submit"
            value="Save"
            [disabled]="!loanForm.valid"
            class="btn btn-success"
          />
        </td>
      </tr>
    </table>
  </form>
</div>
<footer class="footer">
  <br />

  <p style="text-align: center">
    All Rights Reserved.<br />
    <a>Project Gladiator LTI</a>
  </p>
  <br />
  <p>
    Project By Abhinav Bajpai, Bablu Rani, Prasanna Venkatesh P K, Abhishek
    Walinjkar
  </p>
</footer>
