<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img
                    src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png"
                    width="120"
                    class="img-radius"
                    alt="User-Profile-Image"
                  />
                </div>
                <h6 class="f-w-600">
                  {{ userdata.fname + " " + userdata.lname }}
                </h6>
                <p>{{ userdata.userId }}</p>
                <p>Customer Id - {{ userdata.cId }}</p>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Age</p>
                    <h6 class="text-muted f-w-400">{{ userdata.age }}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Gender</p>
                    <h6 class="text-muted f-w-400">{{ userdata.gender }}</h6>
                  </div>
                </div>

                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                  Communication
                </h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">{{ userdata.emailId }}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Phone</p>
                    <h6 class="text-muted f-w-400">{{ userdata.contactNo }}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Address</p>
                    <h6 class="text-muted f-w-400">
                      {{
                        userdata.address +
                          ", " +
                          userdata.city +
                          ", " +
                          userdata.state
                      }}
                    </h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Pin Code</p>
                    <h6 class="text-muted f-w-400">{{ userdata.pincode }}</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col">
                    <input
                      type="button"
                      class="btn btn-success"
                      (click)="applyLoanValidation(userdata.cId)"
                      value="Apply Loan"
                    />&nbsp;&nbsp;
                  </div>
                  <div class="col">
                    <input
                      type="button"
                      class="btn btn-info"
                      (click)="applicationStatusValidation(userdata.cId)"
                      value="Application Status"
                    />&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <button
    type="button"
    class="btn btn-danger"
    style="align-items: center; display: block; margin: 0 auto"
    (click)="logout()"
  >
    Logout
  </button>
</div>
<footer class="footer mt-5">
  <br />

  <p style="text-align: center">
    All Rights Reserved.<br />
    <a>Project Gladiator LTI</a>
  </p>
  <br />
  <p>
    Project By Abhinav Bajpai, Bablu Rani, Prasanna Venkatesh P K, Abhishek
    Walinjkar
  </p>
</footer>
