@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sanswght@600&display=swap');

.text {
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
.container {
  position: relative;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
  width: 40%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 130px;
  background-color: #CCF1FF;
  border-radius: 15px;
} 

/* style inputs and link buttons */
input, .btn {
  width: 70%;
  padding: 20px;
  border: none;
  margin: 5px 0;
  border-radius: 5px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  text-decoration: none; /* remove underline from anchors */
}

/* style the submit button */
.login {
  background-color: #0e09b6;
  color: white;
  cursor: pointer;
}
.login:hover {
  background-color: #0e09b6;
}


.row {
  float: center;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

* {
  box-sizing: border-box;
}

.footer {
  overflow: hidden;
  width: 100%;
  font-size: small;
  background-color: #0e09b6;
  font-family: Verdana, sans-serif;
  color: rgb(226, 225, 225);
  text-align: center;
}
